body
{
  margin-top: 64px;
  margin-left:5%;
  margin-right: 5%;
  margin-bottom:5%;
  font-size: medium;
}

ul
{
  padding-left: 40px !important;
  list-style-type: initial !important;
}

li
{
  list-style-type: inherit !important;
}

.btn 
{
  background-color:#e63900 !important;
  text-transform:none;
  font-family:arial,sans-serif;
  font-weight:bold;
 }
                  
.download
{
 color: #0366d6 !important;
}

#logo1
{
  display: inline;
}

#logo2
{
  display: none;
}

#ask:hover, #lucky:hover
{
  background-color:#ff4000 !important;
}	

#ask 
{
  margin-bottom: 20px; 
}

#lucky 
{
  margin-bottom: 20px;
  display:none;
}

#navButton
{
  position: absolute;
  top: 8px;
  right: 8px;
}

#inputField
{
  color:black;
}
            
#matchingScores 
{
  margin-top: 32px;
}

#nav 
{
  background-color:white;
  margin-top:32px; 
  margin-bottom:16px;
 }

#nav-wrapper 
{
 background-color:white
}

#resultsHeader 
{
 padding: 10px 20px;
}
 
#query, .errCond
{
 font-style: italic;
}

#search
{
  padding-left:2rem;
  background-color:white;
}

#test2label 
{
  margin-left:50px;
}

#radioButtons 
{
  margin-bottom: 32px;
}

#suggestionsDiv
{
  display: none;
}

@media only screen and (min-width: 500px)
{
  /* large phones */
  #lucky
  {
    margin-left: 12px;
    display:inline;
  }
}

@media only screen and (min-width: 768px)
{
  /* tablets */
  body 
  {
    font-size: large;
  }
  
  #logo1
  {
    display: none;
  }

  #logo2
  {
    display: inline;
  }
}
 
@media only screen and (min-width: 992px)
{
  /* laptops onwards */
  #navButton
  {
    top: 32px;
    right: 32px;
  }
}

